body {
  padding-top: 6rem;
  max-width: 48rem;
  margin: auto;
}
.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
  color: var(--primary);
}
.nav-header {
  color: var(--light);
}
.btn-group.special {
  display: flex;
}
.special .btn {
  flex: 1
}

a {
  color: var(--pink);
}
a:hover {
  color: var(--pink);
}

#horoscope { 
  display: none;
}

.animate {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 
/*--keyframe pointer --*/
.fadeIn { 
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}