{% extends 'base.html' %}
{% block content %}
  <div class="starter-template">
    <p class="lead">
      This app was inspired by
      <a href="https://twitter.com/leresatee/status/1128763004986597376">
        a tweet from Teresa Lee.
      </a>
      If you enjoyed it, consider checking out her
      <a href="http://teresaleecomedy.com">website</a>,
      her
      <a href="https://tellmeanythingpod.libsyn.com">podcast</a>,
      and/or her
      <a href="https://www.tribecafilm.com/filmguide/i-think-she-likes-you-2019">
        short film!
      <a>
    </p>
  </div>
{% endblock %}